body{
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

h1,h2,h3,
h4,h5,h6{
    font-family: "Fjalla One", serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: #fff;
    /*margin: 100px 150px 70px 30pxs;*/
    margin: 0;
}

h1 strong{
    color: #026fff;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 24px; 
    margin-bottom: 40px;
}

ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.container{
    /*border: 1px solid red;*/
    max-width: 1004px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    text-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    align-items: inherit;
    flex: 1;
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(#000, .8);
    color: #fff;
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 5;
    left: 5px;
    top: 5px;
}

