.event-list{
    display: flex;
    flex-wrap: wrap;

    .event{
        border: 1px solid #026fff;
        margin: 1%;
        width: 47%;
        border-radius: 10px;
        flex-shrink: 0; 
        overflow: hidden;
        background-color: #f4fbff;

        img{
            width: 480px;
            height: 200px;
            object-fit: cover;
        }
    }
}