.header{
    background-color: #1b2127;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 70px;
    flex-wrap: wrap;

    

    
}

