.header{
    background-color: #1b2127;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 70px;
    flex-wrap: wrap;
    

    a{
        color: #fff;
        text-decoration:  none;
        display: flex;
        align-items: center;
        /* display: block; */
        height: inherit;
        padding: 0 10px;
        
    }

    ul{
        display: flex;
        height: inherit;
        
        li{
            height: inherit;
        }
    }
}

