.portafolio{
    background-color: #fafafa;
    padding: 20px;
    /*font-size: 20px;*/

    .project-description, .project-date, .project-url{
        margin: 10px 0;
    }

    .project-title{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .project-course{
        margin: 10px 0;
        letter-spacing: 0.04em;
    }

    .project-details{
        width: 50%;
    }
}