.portafolio{
    background-color: #fafafa;
    padding: 20px;
    /*font-size: 20px;*/

    .project-description, .project-date, .project-url{
        margin: 10px 0;
    }

    .project-title{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .project-course{
        margin: 10px 0;
        letter-spacing: 0.04em;
    }

    .project{
        border: 1px solid gray;
        letter-spacing: 0.04em;
        border-radius: 10px;
        /*margin: 10px;*/
        margin-bottom: 15px;
        padding: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .project-details{
        width: 50%;
    }
}