@media screen and (max-width: 1023px) {
    h1{
        font-size: 2em;
        z-index: 2;
    }

    .container{
        padding: 0 .7em;
    }

    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .portafolio{
        padding: 0;
    

    }
}