@media screen and (max-width: 480px) {
    h1{
        font-size: 1em;
    }

    .container{
        padding: initial;
    }

    .project-details{
        font-size: 14px;
    }

    .contact{
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }

    .form-email{
        
        button{
            margin: 1em auto;
            border: 1px solid #fff;
        }

        h3{
            margin-top: 0;
        }
    }

    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}