@media screen and (max-width: 320px) {
    h1{
        font-size: 1.1em;
        /* background-color: rgba(#000, .1); */
       /*  text-shadow: 3px 3px 9px rgba(#026fff, .27),
                     3px 3px 9px rgba(white, .01),
                     3px 3px 9px rgba(black, .03); */
    }

    .hero{
        padding: 2em 1em;
        
    }

    .event-list-title{
        margin: 10px auto;
    }

    .social-link{
        width: 40px;
        height: 40px;
        background-size: 100%;
    }
}