@media screen and (max-width: 767px) {

    

    h2{
        font-size: 1.2em;
        margin: 0.7em 0;
        text-align: center;
    }

    .burger-button{
        display: block;
    }

    .event-list-title{
        text-align: center;
    }

    .menu{
        position: fixed;
        background-color: rgba(#026fff, .8);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        /* height: 100vh; */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition:  all ease 600ms;

        &.is-active{
            left: 0;
            transition:  all ease 600ms;
        }
    }

    .header{
        display: block;
        height: auto;

        ul{
            display: block;

            li{
                height: 50px;
                text-align: center;
            }
        }

        a{
            justify-content: center;
            height: 40px;
            font-size: 2em;
            text-decoration: underline;
            margin-bottom: .5em;
        }

        .logo{
            text-align: center;
        }
    }

    .project{
        display: block;

        .project-img-container{
            width: auto;
            text-align: center;
        }

        .project-details{
            width: auto;
            /* font-size: 16px; */
        }

        .project-title{
            font-size: 1.5em;
            margin-bottom: 1.3em; 
        }
    }
}