@media screen and (max-width: 1023px) {
    h1{
        font-size: 2em;
        z-index: 2;
    }

    .container{
        padding: 0 .7em;
    }

    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .portafolio{
        padding: 0;
    }

    .hero-img{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%; 
    }

    .event-list-title{
        margin-left: 0;
    }
}