body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0; }

h1, h2, h3,
h4, h5, h6 {
  font-family: "Fjalla One", serif;
  font-weight: normal; }

h1 {
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  color: #fff;
  /*margin: 100px 150px 70px 30pxs;*/
  margin: 0; }

h1 strong {
  color: #026fff; }

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

figure {
  margin: 0; }

.container {
  /*border: 1px solid red;*/
  max-width: 1004px;
  margin: 0 auto;
  display: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  text-items: inherit;
  height: inherit;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 5;
  left: 5px;
  top: 5px; }

.header {
  background-color: #1b2127;
  color: white;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .header a {
    color: #fff;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* display: block; */
    height: inherit;
    padding: 0 10px; }
  .header .menu {
    height: inherit; }
    .header .menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: inherit; }
      .header .menu ul li {
        height: inherit; }

.footer {
  background-color: #1b2127;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .footer img {
    vertical-align: middle; }
  .footer a {
    color: #fff; }

.hero {
  height: 300px;
  /* background: url("../img/hero.jpg");*/
  background-color: #1b2127;
  /* background-size: 500px 300px; */
  /*background-repeat: no-repeat;*/
  /* background-position-x: right;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .hero .hero-img {
    -o-object-fit: cover;
       object-fit: cover; }

.event-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .event-list .event {
    border: 1px solid #026fff;
    margin: 1%;
    width: 47%;
    border-radius: 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    overflow: hidden;
    background-color: #f4fbff; }
    .event-list .event img {
      width: 480px;
      height: 200px;
      -o-object-fit: cover;
         object-fit: cover; }
  .event-list .event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: #fff;
    position: relative;
    z-index: 5;
    padding: 20px;
    text-align: center; }
  .event-list .event-description {
    text-align: left; }
  .event-list .event-url {
    color: #026fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px; }
  .event-list .event-list-title {
    margin-left: 20px; }
  .event-list .video-html {
    width: 100%;
    height: auto;
    /* max-width: 100%; */ }
  .event-list .youtube-video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 4; */ }
  .event-list .video-flexible {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background-color: #026fff;
    position: relative; }

.contact {
  background-color: #026fff;
  color: #fff;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .contact .social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    background-size: 50px 50px; }
  .contact .social-link.twitter {
    background-image: url(../img/twitter.svg); }
  .contact .social-link.facebook {
    background-image: url(../img/facebook.svg); }
  .contact .social-link.github {
    background-image: url(../img/github.svg); }
  .contact .social-link.instagram {
    background-image: url(../img/instagram.svg); }

.form-email input {
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 10px 25px;
  background-image: url(../img/envelope.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px; }
.form-email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: #fff;
  padding: 5px 0;
  border-radius: 5px;
  width: 100px;
  marin: 10px auto 0;
  margin-top: 10px; }
.form-email h3 {
  font-family: "Source Sans Pro", sans-serif; }

.portafolio {
  background-color: #fafafa;
  padding: 20px;
  /*font-size: 20px;*/ }
  .portafolio .project-description, .portafolio .project-date, .portafolio .project-url {
    margin: 10px 0; }
  .portafolio .project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px; }
  .portafolio .project-course {
    margin: 10px 0;
    letter-spacing: 0.04em; }
  .portafolio .project {
    border: 1px solid gray;
    letter-spacing: 0.04em;
    border-radius: 10px;
    /*margin: 10px;*/
    margin-bottom: 15px;
    padding: 20px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .portafolio .project-details {
    width: 50%; }
  .portafolio .project-img-container {
    width: 50%; }
  .portafolio .project-img-container img {
    max-width: 100%; }

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 2em;
    z-index: 2; }

  .container {
    padding: 0 .7em; }

  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em; }

  .portafolio {
    padding: 0; }

  .hero-img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%; }

  .event-list-title {
    margin-left: 0; } }
@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.2em;
    margin: 0.7em 0;
    text-align: center; }

  .burger-button {
    display: block; }

  .event-list-title {
    text-align: center; }

  .menu {
    position: fixed;
    background-color: rgba(2, 111, 255, 0.8);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all ease 600ms;
    transition: all ease 600ms; }
    .menu.is-active {
      left: 0;
      -webkit-transition: all ease 600ms;
      transition: all ease 600ms; }

  .header {
    display: block;
    height: auto; }
    .header ul {
      display: block; }
      .header ul li {
        height: 50px;
        text-align: center; }
    .header a {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 40px;
      font-size: 2em;
      text-decoration: underline;
      margin-bottom: .5em; } }

/*# sourceMappingURL=style.css.map */